.fotos {
    height: 600px;
    object-fit: cover;
}

.container {
    padding-top: 30px;
    padding-bottom: 30px;
}

.card-titulo {
    font-weight: bold;
    color: #343a40;
    margin-bottom: 40px;
}

.card-produto {
    display: flex;
    flex-direction: column; 
    align-items: center;
    border: 1px solid #e0e0e0;
    padding: 20px;
    border-radius: 10px;
    transition: all 0.3s ease;
    background-color: #fff;
    height: 100%;
}

.card-produto:hover {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    transform: translateY(-5px);
}

.capa-produto {
    max-height: 180px;
    object-fit: contain;
    margin-bottom: 15px;
    border-radius: 8px;
}

.nome-produto {
    font-size: 1.1rem;
    margin-bottom: 10px;
}

.infocabecalho{
    text-decoration: none;
    color: black;
}

